.header {
    background-color: lightblue;
    color: green;
    text-align: center;
    top: 10px;
    float: left;
}

#quote {
    /*margin-top: 50px;*/
    background-color: turquoise;
    color: white;
    text-align: center;
    top: 80px;
    border: 1px solid black;
    border-radius: 5px;
    
}

/*#quote.background-color {*/
/*   opacity: 0.7; */

/*}*/

#getQuote {
    text-align: center;
    margin-top: 70px;
    left: 10px;
    border: 1px solid black;
    color: red;
  
}

#getQuote:hover {
    opacity: 0.5;
    color: blue;
}

.background {
    background: url("assets/james-donovan-180375.jpg");
    /*background-attachment: fixed;*/
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.7;
    height: 800px;
    
}

/*#img {*/
/*    background: url("assets/james-donovan-180375.jpg");*/
/*    background-attachment: fixed;*/
/*    background-position: center;*/
/*    background-repeat: no-repeat;*/
/*    background-size: cover;*/
/*    opacity: 0.7;*/
/*    height: 800px;*/
/*    width: 800px;*/
    
/*}*/
.btn.btn-twitter {
    background: #00acee;
    border-radius: 0;
    margin: 30px;
    padding: 5px;

}

.btn-twitter:hover {
    color: #fff;
}